/* GBA.js */
body { background: #abcdef; text-align: center; font: normal 16px Arial; }
#main { width: 480px; margin: 0 auto 5px; text-align: left; border: 1px solid black; padding: 15px 15px 5px; background: #def; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#main.story { width: 720px }
#main.story_index { text-align: center; }
h1 { font-size: 36px; text-align: center; margin: 0; }
h2 { color: #555; font-size: 26px; text-align: center; }
h3 { color: #555; font-size: 18px; text-align: center; margin: 0; }
#stop { visibility: hidden }
progress { visibility: hidden; float: right; }
canvas { display: block; margin: 90px auto; -webkit-transform: scale(2); -moz-transform: scale(2); -ms-transform: scale(2); transform: scale(2); background: #000; border: 1px solid #000; }
.canvas-fallback { width: 480px; height: 160px; padding-top: 160px; text-align: center; background: #000; color: #fff; }
a { color: #000 }
a:hover { font-weight: bold; letter-spacing: -0.5px; }
article a:hover { font-weight: normal; letter-spacing: 0; }
article { font-size: 14px; margin: 30px 0; text-align: justify; }
article a, nav a, .story_index a { color: #20A }
nav .right { float: right; }

/* prism.css */
code[class*="language-"], pre[class*="language-"] { font-size: 12px; color: black; text-shadow: 0 1px white; font-family: Consolas, Monaco, 'Andale Mono', monospace; direction: ltr; text-align: left; white-space: pre; word-spacing: normal; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }
pre[class*="language-"] { padding: 1em; margin: .5em 0; overflow: auto; }
:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #fff }
:not(pre) > code[class*="language-"] { padding: .1em; border-radius: .3em; }
.token.comment, .token.prolog, .token.doctype, .token.cdata { color: slategray }
.token.punctuation { color: #999 }
.namespace { opacity: .7 }
.token.property, .token.tag, .token.boolean, .token.number { color: #905 }
.token.selector, .token.attr-name, .token.string { color: #690 }
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string { color: #a67f59; background: hsla(0,0%,100%,.5); }
.token.atrule, .token.attr-value, .token.keyword { color: #07a }
.token.regex, .token.important { color: #e90 }
.token.important { font-weight: bold }
.token.entity { cursor: help }